* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #e4e2e2;
}

main {
  background-color: #fff;

  width: 768px;
  padding: 3rem 4rem 5rem 4rem;
  margin: 2rem auto;

  border-radius: 2rem;
}

main div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main div section:first-child form {
  display: flex;
  flex-direction: column;
}

main div section:first-child form input {
  padding: 0.8rem;
  margin-bottom: 1rem;
  max-width: 16rem;
}

main div section:first-child form select {
  padding: 0.8rem;
  margin-bottom: 1rem;
  width: 9rem;
}

main div section:first-child form span {
  font-size: 0.9rem;
}

main div section:first-child form button {
  padding: 0.8rem;
  margin-top: 1rem;
  width: 7rem;

  background-color: #6dabe4;
  color: #fff;

  border: 0;
  border-radius: 0.3rem;
}

main div section:last-child {
  text-align: center;
}

main div section:last-child img {
  width: 14rem;
}
