* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.6rem;
}

main > section:last-child {
  background: #facd39;
  border-radius: 20px;
  padding: 0 0.5rem;
}
