* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #afd0f6;
  margin: 0;
  font-size: 150%;
}

main section.card-rosa {
  background-color: #df96f1;
}

main section.card-verde {
  background-color: #14ce9f;
}

main section.card-azul {
  background-color: #0a82c8;
}

main {
  height: 100vh;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

main section {
  color: #fff;
  text-align: center;

  min-width: 240px;

  margin: 0 1.5rem;
  padding: 0 0.5rem 1rem;

  border-radius: 1rem;
}

main section > div {
  color: #666;
  background-color: #fff;
  text-align: center;

  padding: 0 1rem 1rem;
  margin-bottom: 0.8rem;
  border-radius: 1rem;
}

main section div > div {
  width: 69%;
  margin: 0 auto;
}

main section h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

main section div h3 {
  font-family: initial;
  font-weight: 100;

  padding-top: 0.4rem;
  margin: 0 0 2rem;
}

main section div div p {
  color: #222;
  font-size: 0.5em;
  text-align: initial;
}

main section span {
  font-size: 1.2rem;
  font-weight: 500;
}
